<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Codificador Huffman - Osciloscopio</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    
    <div class="container">
        <h1>Codificador Huffman</h1>
        <textarea id="inputText" placeholder="Ingrese su mensaje aquí..."></textarea>
        <button onclick="encodeMessage()">Codificar</button>
        <button onclick="save_file()">Guardar</button>
        

        <div id="output" class="output-box">
            <!-- Resultados aparecerán aquí -->
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
